/* Selector por etiqueta */
body {
    font-family: Arial, sans-serif;
    background-color: #d1eef5;
    margin: 20px;
}
/* titulo */
.titulo{
text-align: center;
}
/* borde del contenedor */
.container{
    border-style: dashed;
    padding: 30px;
    margin: 20px;

    height: auto;
}
/* Selector por id */
#nombre {
    color: #2a9d8f;
    font-size: 24px;
    text-transform: uppercase;
}

/* Selector por clase */
.descripcion {
    font-style: italic;
    color: #555;
}

/* Pseudoclase */
a:hover {
    background-color: #e76f51;
    padding: 10px;
    color: #f7f7f7;
    text-decoration: none;
}

